<nav class="darkMode navbar navbar-expand-md navbar-dark fixed-top bg-dark">

	<div class="container-fluid">

		<a class="navbar-brand" href="/">
			<img src="/images/ghostie.png" width="40" height="40" fill="currentColor" class="ghostie" viewBox="0 0 16 16">
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">

			<ul class="navbar-nav me-auto mb-3 mb-md-0">


				<li class="nav-item">
					<a class="nav-link <%= title === 'Phasmophobia' ? 'active' : '' %>" href="/"></a>
				</li>

				<li class="nav-item">
					<a class="nav-link <%= title === 'Maps' ? 'active' : '' %>" href="/maps">Maps</a>
				</li>

				<li class="nav-item">
					<a class="nav-link <%= title === 'Ghosts' ? 'active' : '' %>" href="/ghosts">Ghosts</a>
				</li>
			</ul>

		</div>
	</div>
</nav>