<%- include('./partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="imgDiv">
      <img class ="indexImg" src="https://cdn.akamai.steamstatic.com/steam/apps/739630/capsule_616x353.jpg?t=1683281716"></img>
    </div>

    <h1>
      dools phasmo app
    </h1>
  </body>
</html>
<%- include('./partials/footer') %>

