body {
  padding: 50px;
  background-color: black;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ghostie:hover {
  filter:invert(20%);
}

.darkMode {
  --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    position: absolute;
}
.mapDiv a:hover {
  filter: invert(20%)
}

.mapDiv a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8)
}

#ghostDiv {
  width: 100%;
  gap: 10px;
}

.mapDiv {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.mapContainer {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  justify-content: center;
}

h1 {
  color: white;
}

.mapImg {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60%;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px
}

.ghostInfo {
    border: 3px solid gray;
    width: 60vmin;
    padding: 1vmin 2vmin;
    border-radius: 5px;
    margin: 0 auto;
    padding-bottom: 2vmin;
    margin-bottom: 1vmin;
    text-align: left;
    background: grey;
}

.ghostImg {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.ghostText {
  padding: 5px;
}

.backButton {
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px;
  border-radius: 50%;
}
.roomContainer {
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-width: 100%;
}

.roomName {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 95%;
  color: rgba(255, 255, 255, 0.8)
}

ul {
  list-style: none;
}

.occurrances {
  color: rgb(202, 4, 4);
  font-size: 20px;
}

.addButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: right;
}


.button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #000;
  background: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  padding: 12px 20px;
  text-align:center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  }
  
.button:hover {
  background: rgb(142, 13, 26);
}

deleteButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}