body {
  padding: 50px;
  background-color: black;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ghostie:hover {
  filter:invert(20%);
}

.darkMode {
  --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    position: absolute;
}

.mapDiv {
  width: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 1px solid white;
}

.mapContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  padding-top: 30px;
}

h1 {
  color: white;
}

.mapImg {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60%;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px
}

.ghostInfo {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}

.ghostImg {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.ghostText {
  padding: 5px;
}

.backButton {
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px;
  border-radius: 50%;
}
.roomContainer {
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-width: 100%;
}

.roomName {
  display: flex; 
   flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: left;
  color: white
}

ul {
  list-style: none;
}

.occurrances {
  color: white;
  margin: left;
}

.addButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: right;
}

.indexImg {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px, 20px, 40px, 20px,
}

