body {
  padding: 50px;
  background-color: black;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ghostie:hover {
  filter:invert(20%);
}

.darkMode {
  --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    position: absolute;
}

.mapDiv {
  width: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 1px solid white;
}

.mapContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  padding-top: 30px;
}

h1 {
  color: white;
}

.mapImg {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60%;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5p
}