<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <a href="/" class="backButton">Back</a>
    <div class="mapContainer">
      <% ghosts.forEach(g => { %>
      <a href="/ghosts/<%= g.id %>" class ="mapDiv">
        <div> <%= g.ghostName %> </div>
      </a>
      <% }) %> 
    </div>

	<script src="index.js"></script>

  <div class="container d-flex flex-column flex-md-row justify-content-center mt-5 col-md-5" id="holder">
    <form class="col-md-8" action="/ghosts" method="POST">
  
      <div class="mb-2">
        <label for="ghostName" class="form-label"></label>
        <input type="text" class="form-control" id="ghostName" name="ghostName" placeholder="Enter Ghost Name">
      </div>
  
      <div class="mb-2">
        <label for="ghostEvidence" class="form-label"></label>
        <input type="text" class="form-control" id="ghostEvidence" name="ghostEvidence" placeholder="Enter Ghost Evidence">
      </div>

      <div class="mb-2">
        <label for="ghostStrengths" class="form-label"></label>
        <input type="text" class="form-control" id="ghostStrengths" name="ghostStrengths" placeholder="Enter Ghost Strengths">
      </div>
  
      <div class="mb-2">
        <label for="ghostWeakness" class="form-label"></label>
        <input type="text" class="form-control" id="ghostWeakness" name="ghostWeakness" placeholder="Enter Ghost Weakness">
      </div>

      <button type="submit" class="btn btn-primary">Add Ghost</button>
  </form>
  
  </body>
</html>
<%- include('../partials/footer') %>