<%- include('../partials/header') %>

<form class="col-md-8" action="/maps/new" method="POST">
    <button type="submit" class="btn btn-primary">Add room</button>
</form>

<%- include('../partials/footer') %>