<%- include('../partials/header') %>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
   <div class="imgDiv">
    <img class='mapImg' src="<%= image %>" alt="">
   </div> 
   <a href="/maps/edit/<%=map.id%>">Update Map</a>
  </body>
</html>

<%- include('../partials/footer') %>